#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: url('../../assets/img/app-bg3.jpg') no-repeat center center fixed;
  --background-size: cover;
  opacity: 0.9; /* adjust as needed */
  
}

.center-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 95%;
  height: 95%;
  z-index: 100;
  background-color: #003D86;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  padding: 1px;
}

.center-card ion-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}







