<ion-header [translucent]="true">
</ion-header>


<ion-content [fullscreen]="true">
  <swiper [config]="config">
    <ng-template swiperSlide>
      <ion-img src="../../assets/img/bg.jpg"></ion-img>
    </ng-template>
    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1 class="slide-title">Une panoplie de services innovants</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" *ngFor="let card of cards" (click)="showCard(card)">
            <ion-img class="card-img-logo" [src]="card.image" ></ion-img><br>
            <div class="card-title-container">
              {{ card.title }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template swiperSlide >
      <ion-grid class="slide3-grid">
        <ion-row class="slide3-row">
          <ion-col size="12"><h1 class="slide-title">Gestion des cartes</h1></ion-col>
        </ion-row>
        <ion-row class="slide3-row">
          <ion-col size="1" class="logo"><ion-img src ="../../assets/img/payments.svg"></ion-img></ion-col>
          <ion-col size="10" class="info">Modifier vos plafonds</ion-col>
        </ion-row>
        <ion-row class="slide3-row">
          <ion-col size="1" class="logo"><ion-img src ="../../assets/img/security.svg"></ion-img></ion-col>
          <ion-col size="10" class="info">Bloquer/Débloquer vos cartes</ion-col>
        </ion-row>
        <ion-row class="slide3-row">
          <ion-col size="1" class="logo"><ion-img src ="../../assets/img/statistics.svg"></ion-img></ion-col>
          <ion-col size="10" class="info">Suivre vos dépenses</ion-col>
        </ion-row>
        <ion-row class="slide3-row">
          <ion-col size="1" class="logo"><ion-img src ="../../assets/img/support.svg"></ion-img></ion-col>
          <ion-col size="10" class="info">Recharger vos cartes prépayées </ion-col>
        </ion-row>
          <ion-row class="slide3-row-img" >
            <ion-col size="12"><ion-img src="../../assets/img/stb-robot-hand.png"></ion-img></ion-col>
          </ion-row>
      </ion-grid>

    </ng-template>

    <ng-template swiperSlide>
      <ion-grid class="slide3-grid">
        <ion-row class="slide3-row">
          <ion-col size="12"><h1 class="slide-title">Suivi des opérations de transferts internationaux</h1></ion-col>
        </ion-row>
        <ion-row class="slide3-row">
          <ion-col size="1" class="circle-check"><ion-img src ="../../assets/img/circle-check-regular.svg"></ion-img></ion-col>
          <ion-col size="10" class="info">Opérations de transferts Emis</ion-col>
        </ion-row>
        <ion-row class="slide3-row">
          <ion-col size="1" class="circle-check"><ion-img src ="../../assets/img/circle-check-regular.svg"></ion-img></ion-col>
          <ion-col size="10" class="info">Opérations de transferts Reçus</ion-col>
        </ion-row>
        <ion-row class="slide3-row">
          <ion-col size="1" class="circle-check"><ion-img src ="../../assets/img/circle-check-regular.svg"></ion-img></ion-col>
          <ion-col size="10" class="info">Opérations de Scolarité</ion-col>
        </ion-row>
        <ion-row class="slide4-row-img">
          <ion-col size="12">
            <ion-img src="../../assets/img/screen01.png" class="slide4-bot-img"></ion-img>
            <ion-img src="../../assets/img/screen02.png" class="slide4-top-img"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>


    <ng-template swiperSlide>
      <ion-grid class="slide3-grid">
      <ion-row class="slide3-row">
        <ion-col size="12"><h1 class="slide-title">Tracking des opérations à l’international en temps réel</h1></ion-col>
      </ion-row>
      <ion-row class="slide3-row">
        <ion-col size="12"><ion-img src="../../assets/img/screen03.png" class="slide4-bot-img"></ion-img></ion-col>
        <ion-col size="12"><ion-img src="../../assets/img/screen04.png" class="slide4-top-img"></ion-img></ion-col>
      </ion-row>
    </ion-grid>

    </ng-template>

    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-col size="12"><h1 class="slide-title">Suivi des opérations de transferts internationaux</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card class="welcome-gift-card">
              <ion-card-header class="welcome-gift-card-header">
                <h2>Compte Chèque/Courant</h2>
              </ion-card-header>
              <ion-card-content class="welcome-gift-card-content">
                <b>Cadeau de bienvenu:</b> 10DT<br>
                <b>Carte Bancaire:</b> Electron<br>
                <b>Application Gratuite:</b> DigiCarte<br>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card class="welcome-gift-card">
              <ion-card-header class="welcome-gift-card-header">
                <h2>Compte Epargne</h2>
              </ion-card-header>
              <ion-card-content class="welcome-gift-card-content">
                <b>Cadeau de bienvenu:</b> 10DT<br>
                <b>Application Gratuite:</b> DigiEpargne<br>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ng-template>
  
  </swiper>

  

  <ion-card *ngIf="selectedCard" class="center-card">
    <ion-card-header style="--background: #003D86;">
      <ion-toolbar style="--background: #003D86;">
        {{ selectedCard.title }}
        <ion-buttons slot="end">
          <ion-button (click)="hideCard()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
      <ion-card-content>
        {{ selectedCard.content }}
      </ion-card-content>
  </ion-card>

  


  
  
  
</ion-content>


<ion-footer>
  <div class="button-container">
    <button  class="next-button" *ngIf="activeIndex < 5" (click)="NextSlide()">Suivant{{activeIndex}} {{isEnd}}</button>
    <button  class="next-button" *ngIf="isEnd" >Ouvrir un compte</button>
    <button  class="previous-button" (click)="PreviousSlide()">Précédent</button>
  </div>
  
  <div class="swiper-pagination"></div>
</ion-footer>